extends layout

block content
 .container
   h1 Recipe Guide
   p Recipe Name: #{food.name}
   p Recipe Ingredients: #{food.Ingredients}
   p Recipe Description: #{food.Description}
   p Recipe Youtube Link: #{food.Youtube}
   p Recipe Creation Date: #{food.Date}
   p Recipe Update Date: #{food.Update_Date}
   a(href='/food/' + food._id+ '/update') Update
   br
   a(href='/food/' + food._id+'/delete') delete
